# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin

# Visual Studio Code
launch.json

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# dep specific temporary data
Gopkg.lock
vendor/

# test data
*.tgz
*.atv
