#!/bin/sh

# ***WARNING***
# Use unix line breaks (LF) only, not windows line breaks (CR LF).
# Everything other than LF will render the script unexecutable.

# abort execution on the first error
set -e

{{if .Atv}}
# load initial configuration
gaiconfig --silent --set-all < /bootstrap/preconfig.atv

# save the current configuration into a profile, so users can restore it
gaiconfig --get-all > "/gai/profiles/Custom Factory Defaults.atv"

# set passwords, if specified in the configuration
{{if .RootPassword}}echo -e "{{.RootPassword}}\n{{.RootPassword}}" | passwd root{{end}}
{{if .AdminPassword}}echo -e "{{.AdminPassword}}\n{{.AdminPassword}}" | passwd admin{{end}}
{{end}}

# reboot to enter normal operation
touch /bootstrap/reboot-please
